@import url("https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&family=Delius&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend+Deca:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap");

:root {
  --white: #fff;

  /* this is for background color */
  --left-side-back-color: #898df2;
  --right-side-back-color: #4c50c1;

  /* card background color */
  --card-left-side-back-color: #3c3c3c;
  --card-middle-side-back-color: #242424;
  --card-right-side-back-color: #040404;

  /* this is for heading color */
  --left-text-color: #fc5fa8;
  --middle-text-color: #f78080;
  --right-text-color: #f4bc40;
}

@layer reset {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  ol,
  figure {
    margin: 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 500;
  }

  img {
    display: block;
    max-width: 100%;
  }
}

@layer base {
  html,
  body {
    margin: 0;
    padding: 0;
  }
}

@layer layout {
  .container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(
      to right,
      var(--left-side-back-color),
      var(--right-side-back-color)
    );
  }

  @media (witdh > 375px) {
    .container {
      display: none;
    }
  }

  .card {
    /* background-color: black; */
    background: linear-gradient(
      to right,
      var(--card-left-side-back-color),
      var(--card-middle-side-back-color),
      var(--card-right-side-back-color)
    );
    color: blue;
    padding: 15px;
    border-radius: 10px;
    width: 30rem;
  }

  .title {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 4px;
    text-transform: uppercase;
    background: -webkit-linear-gradient(
      left,
      var(--left-text-color),
      var(--left-text-color),
      var(--left-text-color),
      var(--middle-text-color),
      var(--middle-text-color),
      var(--right-text-color),
      var(--right-text-color),
      var(--right-text-color)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .subtitle {
    text-align: center;
    font-size: 0.9rem;
    font-family: "Delius", sans-serif;
    font-size: 20px;
    margin-bottom: 15px;
    text-transform: lovercase;
    background: -webkit-linear-gradient(
      left,
      var(--left-text-color),
      var(--left-text-color),
      var(--left-text-color),
      var(--middle-text-color),
      var(--middle-text-color),
      var(--right-text-color),
      var(--right-text-color),
      var(--right-text-color)
    );
    -webkit-background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .logo {
    height: 40px;
    padding: 0 1rem;
    border-radius: 50%;
    margin-bottom: 15px;
  }

  .items {
    background: -webkit-linear-gradient(
      left,
      var(--left-text-color),
      var(--left-text-color),
      var(--left-text-color),
      var(--middle-text-color),
      var(--middle-text-color),
      var(--right-text-color),
      var(--right-text-color),
      var(--right-text-color)
    );
    -webkit-background-clip: text;
    text-align: center;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-block: 8px;
    font-style: italic;
    font-weight: 700;
  }

  .list {
    color: var(--left-side-back-color);
    margin: 0;
    padding: 0% 2rem;
    list-style-type: disc;
  }

  .list-items {
    margin: 0;
    padding: 0.1em 0;
    gap: 10px;
  }

  .footer-logo-area {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 8px;
    color: var(--white);
  }

  .footer-logo {
    display: flex;
    align-items: center;
  }

  .footer-para-area {
    margin-block: 8px;
  }

  .footer-para {
    color: var(--white);
    text-align: center;
    font-family: "Caveat", sans-serif;
  }

  .first-line {
    font-size: 14px;
  }

  .second-line {
    white-space: nowrap;
    font-size: 12px;
  }

  .third-line {
    font-size: 12px;
  }
}
